/* add home page styles here */
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#FF0000, #FFDE00, #CC0000);
}

main {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header {
    font-family: Pokemon;
    letter-spacing: .5em;
    height: 100px;
    width: 100%;
    border: solid 3px;
    border-radius: 15px;
    background-color: yellow;
    border: solid;
    border-style: 5px;
    margin-bottom: 5em;
    text-align: center;
}
img {
    height: 150px;
    width:150px;
    visibility: visible;
}
input {
    display: none;
}

input[type="radio"]:checked + img {
    border: solid 6px red;
    border-radius: 15px;
    box-shadow: 5px 10px black;
    display: block;

}

    
body {

    width: 750px;
    height: 1000px;
    justify-content: center;
    justify-self: center;
    
    
}
section {
    height: 480px;
    width: 750px;
    display: flex;
    grid-template-columns: 25%, 25%, 25%;
    justify-content: space-evenly;
    border: solid;
    align-items: center;
    border-radius: 30px;
    background-image: url(../assets/poke-background.png);
    margin-bottom: 3em;

}
button {
    /* display: none; */
    height: 50px;
    width: 100px;
    border-radius: 125px;
    box-shadow: black 3px 5px;
    background-color: #FF0000;
    
}