html {
    height: 1000px;
    display: flex;
    grid-template-columns: 10% 50%;
    justify-content: center;  
}

header {
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
body {
    width: 1000px;

    justify-content: center;
    
}
.display {
    display: grid;
    height: 600px;
    width: 1000px;
    border: solid;
}
.label {
    text-align: center;
    height: 50px;
    margin-bottom: 1em;
}

canvas {
    width: 75%;
    height: 500px;

}
.my_audio {
    display: none;

}
